<br>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="jumbotron">
			<h1>Behold <b>Jukebox</b>!</h1>
		 	<p>Jukebox is a music composer, developed using <i>Markov Chains</i>. Basically, it computes the chance of harmony in a preloaded set of classical pieces. Thus, it imitates some of the greatest composers' musical patterns, emulating the sense of composition. Below this box you will find a record of the notes as they play.</p>
		  	<p><center><a class="btn btn-primary btn-lg" id="play-btn" href="#" role="button">Start playing</a></center></p>
		</div>
	</div>
</div>


